<div class="content">
  <app-bg></app-bg>
</div>
<router-outlet></router-outlet> 

<footer>
    <h1 (click)="toLogin()">&copy; BOGO 2016-2018</h1>
    <p>
      <a routerLink="/">Homepage</a> |
      <a routerLink="/advice">Any Advice?</a> |
      <a routerLink="/contact">Contact Me</a> |
      <a routerLink="/log">Website Log</a>
      <ng-container *ngIf="user && user.access === 'administrator'">
        | <a routerLink="/logout">Logout</a>
      </ng-container>      
    </p>
    <p>
      <a class="beian" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17002636号-1</a>
    </p>
</footer>
