@import './global.less';
.content {
  // height: 100vh;
  // height: 600px;
  // min-height: 100vh;
  // padding-bottom: 40px;
  // background-color: #00B8DE;
}
footer {
  position: relative;
  background-color: #fff;
  color: #D9D9D9;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
  h1 {
    font-size: 30px;
    // color: #fff;
    // color: #BDC3C7;
    // position: relative;
    // top: -30px;
    // margin-bottom: -30px
  }
  p {
    margin: 5px 0;
  }
  a {
    color: #D9D9D9;
    transition: all 0.5s;
    &:hover {
      color: #999;
    }
    &.beian {
      // color: #BDC3C7;      
      color: #f9f9f9;
    }
  }
}
@media screen and (max-width: 1000px) {
  footer {
    h1 {
      font-size: 24px;
      // top: -20px;
      // margin-bottom: -20px;
    }
  }
}
@media screen and (max-width: 500px) {
  footer {
    font-size: 12px;
    padding: 15px 0;
    h1 {
      font-size: 16px;
      // top: -18px;
      // margin-bottom: -18px;
    }
  }
}