<h2 mat-dialog-title>Update ßyte - {{updateParam.date}}!</h2>
<form (ngSubmit)="update()" name="updateForm" #updateForm="ngForm">
  <!-- text -->
  <mat-form-field class="full-width">
    <input name="character" required matInput placeholder="Character" [(ngModel)]="updateParam.character">
  </mat-form-field>
  
  <!-- text -->
  <mat-form-field class="full-width">
    <input name="note" matInput placeholder="And I wanna say..." [(ngModel)]="updateParam.note">
  </mat-form-field>
  
  <br/>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" 
    [disabled]="!updateForm.form.valid">Post</button>    
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>