<div class="container">
  <div class="no-result" *ngIf="noResult">No words found.</div>
  <div class="item" [style.top]="tops[i] + 'px'" [id]="'word' + i" *ngFor="let word of words;let i = index">
    <div class="main" [class.hasImage]="word.image">
      <div class="text">
        <pre>{{word.text}}</pre>
        <p class="time">
          {{word.addTime | date:'MMM dd, y, HH:mm:ss '}}
          <ng-container *ngIf="user && user.access==='administrator'">
            * <span (click)="delete(i)">D</span>
          </ng-container>
          <ng-container *ngIf="user && user.access==='administrator'">
            * <span (click)="update(i)">U</span>
          </ng-container>
          <ng-container *ngIf="user && user.access==='administrator' && word.isPublic === false">
            * <span class="red">P</span>
          </ng-container>
        </p>
      </div>
      <div class="image">
        <img (click)="openImage(word.image)" [src]="word.image">
      </div>
    </div>
  </div>
</div>
<app-date-picker (onChangeDate)="onChangeDate($event)"></app-date-picker>
<div class="add-panel" *ngIf="user && user.access==='administrator'" [class.show]="showAddPanel">
  <a (click)="add()">+</a>
</div>