@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @font-face { */
	/* font-family: 'Rockwellll'; */
	/* src: url('assets/fonts/rockwell.eot'); */
  /* src:  */
  /* url('assets/fonts/rockwell.woff') format('woff'),  */
  /* url('assets/fonts/rockwell.ttf') format('truetype'); */
  /* url('assets/fonts/rockwell.svg') format('svg'); */
	/* font-weight: normal; */
  /* font-style: normal; */
  /* letter-spacing: 0.1em; */
/* } */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('assets/fonts/roboto-slab.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('assets/fonts/roboto-slab-bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura';
	src: url('assets/fonts/futura.eot');
  src: 
  url('assets/fonts/futura.woff') format('woff'), 
  url('assets/fonts/futura.ttf') format('truetype'),
  url('assets/fonts/futura.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'siyuan';
  src: url('assets/fonts/siyuan.eot'); /* IE9*/
  src: url('assets/fonts/siyuan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/siyuan.woff') format('woff'), /* chrome、firefox */
    url('assets/fonts/siyuan.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('assets/fonts/siyuan.svg#webfont') format('svg'); /* iOS 4.1- */
}


* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html, body {
  width: 100%;
  min-width: 300px;
  min-height: 500px;
  font-family: 'Futura', Helvetica, Arial, 'siyuan', 'Microsoft Yahei', '微软雅黑';
  overflow-x: hidden;
}
input, button, option, pre,
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab,
.mat-raised-button, .mat-stroked-button, .mat-form-field,
.mat-slide-toggle-content, .mat-select, .mat-option, .mat-dialog-title {
  font-family: 'Futura', Helvetica, Arial, 'siyuan', 'Microsoft Yahei', '微软雅黑';
}
code {
  font-family: 'Lucida Console', 'Courier New',  'monospace';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Helvetica, Arial, 'siyuan-normal', 'Microsoft Yahei', '微软雅黑';
  letter-spacing: 0.1em;
  /* font-weight: normal; */
}

/* loading */
#pre-loading {
  background-color: #ECF0F1;
}
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.loading.hide {
  display: none;
}
.loading .loader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  animation: load-effect 1s infinite linear;
}
@keyframes load-effect {
	0% {
		box-shadow: -3em 2em 0 .5em #FFF, 0 2em 0 0 #FFF, 3em 2em 0 -.5em #FFF;
	}
	25% {
		box-shadow: -3em 2em 0 0 #FFF, 0 2em 0 -.5em #FFF, 3em 2em 0 0 #FFF;
	}
	50% {
		box-shadow: -3em 2em 0 -0.5em #FFF, 0 2em 0 0 #FFF, 3em 2em 0 .5em #FFF;
	}
	75% {
		box-shadow: -3em 2em 0 0 #FFF, 0 2em 0 .5em #FFF, 3em 2em 0 0 #FFF;
	}
	100% {
		box-shadow: -3em 2em 0 .5em #FFF, 0 2em 0 0 #FFF, 3em 2em 0 -.5em #FFF;
	}
}

/* article interpreted HTML */
#article .para .content .text p,
#article .para .content .text blockquote,
#article .para .content .text pre,
#article .para .content .text ul,
#article .para .content .text ol,
#article .para .content .text table {
  margin-bottom: 24px;
}
#article .para .content .text ul,
#article .para .content .text ol {
  margin-left: 20px;
}
#article .para .content .text p {
  text-align: justify;
}
#article .para .content .text a {
  color: inherit;
  font-weight: bold;
}
#article .para .content .text a:hover {
  text-decoration: underline;
}
#article .para .content .text blockquote {
  position: relative;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#article .para .content .text blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 10px;
  height: 100%;
  content: '';
  display: inline-block;
}
#article .para .content .text pre {
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255,255,255,0.8);
  color: #000;
  padding: 5px 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
}
#article .para .content .text pre code {
  display: block;
}
#article .para .content .text img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
}
#article .para .content .text img:hover {
  transform: scale(1.01) translateY(-10px);
  opacity: 0.9;
  background-color: rgba(0,0,0,0.1);
  border-radius: 0;  
}
#article .para .content .text table{
  width: 100%;
}
#article .para .content .text table td {
  padding: 0 3px;
}
#article .para .content .text table tr {
  transition: 0.2s all;
}
#article .para .content .text table tr th {
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
}
#article .para .content .text table tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
#article .para .content .text table tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
#article .para .content .text table tr:hover {
  background-color: rgba(0, 0, 0, 0.2);  
}

#article .para .content .text .progress {
  margin-bottom: 18px;
}

#article .para .content .text .progress .outer {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#article .para .content .text .progress .outer .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-image: repeating-linear-gradient(135deg, #fff, #fff 20px, rgba(255,255,255,0.8) 20px, rgba(255,255,255,0.8) 40px);
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

#article .para .content .text .progress .outer .bar.init {
  width: 0 !important;
}

/* override wang-editor style */
.w-e-toolbar {
  display: inline-block !important;
}
.w-e-toolbar:after {
  display: table;
  content: '';
  clear: both;
}
.w-e-toolbar .w-e-menu {
  float: left;
}
.w-e-text-container.hide {
  height: 0;
  opacity: 0;
}
.w-e-text {
  max-height: 300px;
}
.w-e-text .progress .outer {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.w-e-text .progress .outer .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-image: repeating-linear-gradient(135deg, #000, #000 20px, rgba(255,255,255,0.8) 20px, rgba(255,255,255,0.8) 40px);
  border-radius: 5px;
  transition: all 0.5s ease-out;
}


@media screen and (max-width: 1000px) {
  #article .para .content .text p,
  #article .para .content .text blockquote,
  #article .para .content .text pre,
  #article .para .content .text ul,
  #article .para .content .text ol,
  #article .para .content .text table {
    margin-bottom: 22px;
  }
  #article .para .content .text .progress {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 500px) {
  #article .para .content .text p,
  #article .para .content .text blockquote,
  #article .para .content .text pre,
  #article .para .content .text ul,
  #article .para .content .text ol,
  #article .para .content .text table {
    margin-bottom: 20px;
  }
  #article .para .content .text blockquote {
    padding: 5px 12px;
  }
  #article .para .content .text blockquote::before {
    width: 5px;
  }
  #article .para .content .text pre {
    font-size: 12px;
    line-height: 14px;
  }
  #article .para .content .text .progress {
    margin-bottom: 12px;
  }
  #article .para .content .text .progress .outer .bar {
    height: 14px;
  }
  #article .para .content .text .progress .outer {
    height: 14px;
  }
}