<!-- <div class="menu"> -->
  <ul>
    <li [@left]="animStates[0]" *ngIf="showMenu"><a routerLink="/bio">B</a></li>
    <li [@right]="animStates[0]" *ngIf="showMenu"><a routerLink="/coding">O</a></li>
    <li [@left]="animStates[1]" *ngIf="showMenu"><a routerLink="/design">G</a></li>
    <li [@right]="animStates[1]" *ngIf="showMenu"><a routerLink="/translation">O</a></li>
    <li [@left]="animStates[2]" *ngIf="showMenu"><a routerLink="/bytes">ß</a></li>
    <li [@right]="animStates[2]" *ngIf="showMenu"><a routerLink="/words">Ø</a></li>
    <li [@left]="animStates[3]" *ngIf="showMenu"><a routerLink="/blog">G</a></li>
    <li [@right]="animStates[3]" *ngIf="showMenu"><a routerLink="/more">O</a></li>
  </ul>
<!-- </div> -->